


{% extends 'base.html.twig' %}

{% block title %} New Category {% endblock %}
{% block body %}
	<div class="row" style="margin-left:300px">
		<div style="display: flex;align-items: center;justify-content: center;margin-top: 90px; padding: 15px;">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Add Category</h5>

					<!-- General Form Elements -->
					{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

					<label for="inputText" class="col-sm-18 col-form-label">Category name</label>
					<div class="col-sm-18">
						{{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}

					</div>
					{{ form_errors(form.name,{'attr':{'class':'text-danger'}}) }}


					<label for="inputText" class="col-sm-18 col-form-label">Description</label>
					<div class="col-sm-18">
						{{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}

					</div>
					{{ form_errors(form.description,{'attr':{'class':'text-danger'}}) }}
					<br/>
					<div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

						{{ form_widget(form.ADD,{'attr':{'class':'btn btn-primary'}}) }}
					</div>

					{{ form_end(form) }}

				</div>
			</div>

		</div>

	</div>


{% endblock %}