{% extends 'base.html.twig' %}

{% block title %}Edit Division
{% endblock %}

{% block body %}
	 <div class="row"  style="margin-left:300px">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update Division</h5>

                    <!-- General Form Elements -->
                    {{ form_start(f) }}
                    <label for="inputText" class="col-sm-4 col-form-label">type</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.type,{'attr':{'class':'form-control'}}) }}
                    </div>


                    <label for="inputText" class="col-sm-4 col-form-label">taux_remise</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.taux_remise,{'attr':{'class':'form-control'}}) }}

                    </div>
                    <br/>
                    <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

                        {{ form_widget(f.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                    </div>

                    {{ form_end(f) }}

                </div>
            </div>

        </div>

    </div>


{% endblock %}
