
{% extends 'base1.html.twig' %}

{% block body %}

<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
           
                
                <h5 class="card-title"> Contracts</h5>
               
                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                    <tr>    
                        <th>Employer name</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Salary</th>
                
                    </tr>
                    </thead>
                    <tbody>
                       
                         
                    {% for blog in contracts %}
                        <tr>
                           
                        <td>{{ blog.employer}}</td>
                            <td>{{ blog.type }}</td>
                             <td>{{ blog.duration }}</td>
                            <td>{{ blog.salary }}</td>
                           {# <td>
                                <a class="btn btn-success" href="{{path('app_admcontract_show',{'id':blog.id}) }}">View details</a>
                            </td>#}
                           
                        </tr>

                    {% endfor %}

                

                    </tbody>
                </table>
                <!-- End small tables -->

            </div>
        </div>

    </div>

 

</div>
{#{% block add %}
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 50px;">
<a class="btn btn-success" href="{{ path('app_contract_new') }}" style="margin-left:2%">Show</a>
</div>
{% endblock %}#}
{% endblock %}