{% extends 'base1.html.twig' %}

{% block body %}

  <div class="container">
    <h1 >List of Employees</h1>
    <table  class="table table-striped">
      <thead>
        <tr>
          <th>Cin</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Email</th>
          <th>Num de Tlf</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in filtre %}
          <tr>
            <td>{{ employee.cin }}</td>
            <td>{{ employee.nom }}</td>
            <td>{{ employee.prenom }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phoneNum }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}