{% extends 'base.html.twig' %}

{% block body %}
<div >
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
            {{ form_row(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
  <div class="container">
    <h1 >List of Employees</h1>
    <table  class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Cin</th>
          <th>Email</th>
          <th>Num de Tlf</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <td>{{ employee.nom }}</td>
            <td>{{ employee.prenom }}</td>
            <td>{{ employee.cin }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phoneNum }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}