

{#*****************************************************************************#}


{% extends 'base1.html.twig' %}


{% block body %}


<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Employer Detaill</h5>

                


				<table class="table">
				<tbody>
				<tr>
						<th>Nom de l'employee</th>
						<td>{{ contract.emp }}</td>
					</tr>
					<tr>
						<th>Salaire</th>
						<td>{{ contract.salaire }}</td>
					</tr>				
					<tr>
						<th>Type</th>
						<td>{{ contract.type }}</td>
					</tr>
					
					<tr>
						<th>date Debut</th>
						<td>{{ contract.datedebut }}</td>
					</tr>
					<tr>
						<th>Date Fin</th>
						<td>{{ contract.datefin }}</td>
					</tr>
					
				</tbody>
			</table>


            </div>
        </div>

    </div>



</div>
{% endblock %}





