{% extends 'base1.html.twig' %}

{% block title %}Abonnement{% endblock %}


{% block body %}


<div class="row" style="display: flex;align-items: center;margin-top: 150px;">

    <div class="col-lg-6">

        <div class="card2">
            <div class="card-body">
                <h5 class="card-title">Users List </h5>

                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                    <tr>     
                        <th>Email</th>
                        <th>Nom</th>
                        <th>Domaine</th>
                        <th>Matricule</th>
                        <th>Télephone</th>
                        <th>Adresse</th>
                        <th>Statuts</th>
                        <th>Abonnement</th>
                        <th>Pays</th>
                         <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
        {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.domaine }}</td>
                            <td>{{ user.matricule }}</td>
                            <td>{{ user.telephone }}</td>
                            <td>{{ user.adresse }}</td>
                            <td>{{ user.statuts }}</td>
                            <td>{{ user.abonnement }}</td>
                            <td>{{ user.pays }}</td>
                            {# <td>
                                <a class="btn btn-success" href="{{ path('app_user_edit',{'id':user.id}) }}">Modifier</a>
                            </td> #}
                            <td>
                                <a class="btn btn-success" href="{{ path('user_show',{'id':user.id}) }}">show</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                <!-- End small tables -->

            </div>
        </div>

    </div>



</div>
{% endblock %}