{% extends 'base.html.twig' %}

{% block title %}Edit Vente{% endblock %}


{% block body %}
    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update vente</h5>

                    <!-- General Form Elements -->
                    {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                    <label for="inputText" class="col-sm-4 col-form-label">produit</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.produit,{'attr':{'class':'form-control'}}) }}
                    </div>


                    <label for="inputText" class="col-sm-4 col-form-label">quantite</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.quantite,{'attr':{'class':'form-control'}}) }}

                        <label for="inputText" class="col-sm-4 col-form-label">prix_unite</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.prix_unite,{'attr':{'class':'form-control'}}) }}
                    </div>


                    <label for="inputText" class="col-sm-4 col-form-label">taxe</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.taxe,{'attr':{'class':'form-control'}}) }}
                        <label for="inputText" class="col-sm-4 col-form-label">prix_totale</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.prix_totale,{'attr':{'class':'form-control'}}) }}
                    </div>


                    <label for="inputText" class="col-sm-4 col-form-label">date_vente</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.date_vente,{'attr':{'class':'form-control'}}) }}
                        <label for="inputText" class="col-sm-4 col-form-label">client</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.client,{'attr':{'class':'form-control'}}) }}
                    </div>


                    <label for="inputText" class="col-sm-4 col-form-label">PointVente</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.PointVente,{'attr':{'class':'form-control'}}) }}
                                            </div>

                    <br/>
                    <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

                        {{ form_widget(f.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                    </div>

                    {{ form_end(f) }}

                </div>
            </div>

        </div>

    </div>


{% endblock %}
