{% extends 'base.html.twig' %}


{% block body %}


<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <a href="{{ path('app_product_index') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h5 class="card-title">Products List</h5>

                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                    <tr>   
                        <th>Product name</th>
                        <th>quantity</th>
                        <th>prix</th>
                        <th>category</th> 

                        <th>Show Details</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for blog in products %}
                        <tr>
                            
                            <td>{{ blog.nameproduct }}</td>
                            <td>{{ blog.quantite }}</td>
                            <td>{{ blog.prix }}</td>
                            <td>{{ blog.category }}</td>

                            <td>
                                <a class="btn btn-success" href="{{ path('app_product_show',{'id':blog.id}) }}">Show</a>
                            </td>
                            <td>
                                <a class="btn btn-success" href="{{ path('app_product_edit',{'id':blog.id}) }}">Update</a>
                            </td>
                            
                        </tr>

                        

                    {% endfor %}

                    </tbody>
                </table>
                <!-- End small tables -->
                <div class="text-center mt-3">
                <a class="btn btn-success" href="{{ path('app_product_new') }}">add</a>
                </div>

            </div>
        </div>

    </div>



</div>
{{ knp_pagination_render(product) }}
{% endblock %}