

{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	 <h1>Product</h1>
	<div style="margin-left:320px ; width:78% ; margin-top:100px">

		 <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name_product</th>
                <td>{{ product.nameProduct }}</td>
            </tr>
            <tr>
                {% if product.category is defined and product.category.name is defined %}
                <th>category</th>
                <td>{{ product.category }}</td>
            {% endif %}
                
            </tr>
            <div style="display:none">
             {# <tr>
             <th>Image</th>
                <td><div class="border-top-0">
                    <div>
                        <img src="/uploads/{{ product.image }}" alt="" class="img-4by3-lg rounded" width="25%" height="25%" />                
                    </div>
                </td>
            </tr> #}
            </div>
            <tr>
                <th>prix</th>
                <td>{{ product.prix }}</td>
            </tr>
        
        </tbody>
    </table>
	</div>
	<center>
		<a class="btn btn-success" href="{{ path('app_product_index') }}" style="margin-left:180px">back to list</a>

		
		<a class="btn btn-danger">{{ include('product/_delete_form.html.twig') }}</a></br>

	</center>
{% endblock %}
