{% extends 'base.html.twig' %}
{% block body %}
<style>
    .invoice {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10%;
}

.invoice-header {
  display: flex;
  align-items: center;
  text-align: center;
}

.invoice-header img {
  width: 100px;
  margin-right: 20px;
}

.invoice-details {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.invoice-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.invoice-table th {
  background-color: #f2f2f2;
}

.invoice-table tbody td:last-child,
.invoice-table tbody th:last-child {
  text-align: right;
}

.invoice-footer {
  margin-top: 20px;
}

    </style>

<div class="invoice">
<div class="invoice-header">
  <h1>Product Amount  <span>{{ product.id }}</span></h1>
</div>

<a href="{{ path('app_product_index') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>

<div class="invoice-table">

</table>
</div>
<table class="invoice-table">
  <thead>
    <tr>
      <th>Item Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>{{ product.nameProduct }}</td>
    <td>{{ product.quantite }}</td>
    <td>{{ product.prix }}</td>
    <td>{{  product.prix * product.quantite  }}</td>
    </tr>
    <tr>
      <td colspan="3">Tax Rate</td>
    <td>{{ product.taxe }} %</td>
    </tr>
    <tr>
    <td colspan="3">Tax value</td>
<td>{{ (product.taxe * ( product.prix * product.quantite ))/100 }}</td>
  </tr>
    <tr>
      <td colspan="3">Prix net</td>
    <td>{{   total  }}</td>
    </tr>
  </tbody>
</table>

</div>


{% endblock %}