{% extends 'base2.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block bodyBack %}


    <h1>Restaurant</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Liste des restaurants</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <table id="example1" class="table table-bordered table-striped">
            <div class="row">
                <div class="col-sm-12 col-md-6">

                </div>
            </div>
        <tbody>
            <tr>
                <th>Id_restaurant</th>
                <td>{{ restaurant.idRestaurant }}</td>
            </tr>
            <tr>
                <th>Nom_restaurant</th>
                <td>{{ restaurant.nomRestaurant }}</td>
            </tr>
            <tr>
                <th>Desc_restaurant</th>
                <td>{{ restaurant.descRestaurant }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ restaurant.capacite }}</td>
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ restaurant.numTel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ restaurant.adresse }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ restaurant.specialite }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="col-md-12 text-center">
    <a class="btn btn-outline-dark" href="{{ path('restaurant_index') }}">Liste des restaurants</a>
</div>

{% endblock %}
