<!DOCTYPE html>
<html>
<head>
	<title>Contract Details</title>
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			font-size: 16px;
			color: #333;
            background-image: url({{asset('rh.jpg')}});
   
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		h2 {
			background-color: #4CAF50;
			color: white;
			font-size: 24px;
			font-weight: bold;
			padding: 10px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
    <img src="{{asset('rh.jpg')}}" alt="">
<h2>Contract Details  :{{ contract.emp.nom }}</h2>
	<table>
		<tbody>
			<tr>
				<th>Nom</th>
				<td>{{ contract.emp.nom }}</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>{{ contract.type }}</td>
			</tr>				
			<tr>
				<tr>
				<th>Salaire</th>
				<td>{{ contract.salaire }}</td>
			</tr>	
				<th>Date debut</th>
				<td>{{ contract.datedebut ? contract.datedebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date Fin</th>
				<td>{{ contract.datefin ? contract.datefin|date('Y-m-d') : '' }}</td>
			</tr>
			
		</tbody>
	</table>
</body>
</html>
