<!DOCTYPE html>
<html>
<head>
	<title>Contract Details</title>
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			font-size: 16px;
			color: #333;
            background-image: url({{asset('rh.jpg')}});
   
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		h2 {
			background-color: #4CAF50;
			color: white;
			font-size: 24px;
			font-weight: bold;
			padding: 10px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
    <img src="{{asset('rh.jpg')}}" alt="">
<h2>Contract Details  :{{ contract.employer }}</h2>
	<table>
		<tbody>
			<tr>
				<th>Employee name</th>
				<td>{{ contract.employer }}</td>
			</tr>
			<tr>
				<th>Employee function</th>
				<td>{{ contract.employer.fonction }}</td>
			</tr>				
			<tr>
				<tr>
				<th>Your departement</th>
				<td>{{ contract.employer.departement }}</td>
			</tr>	
				<th>Type</th>
				<td>{{ contract.type }}</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>{{ contract.duration }}</td>
			</tr>
			<tr>
				<th>Salary</th>
				<td>{{ contract.salary }} DT</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
