{# {% extends 'base.html.twig' %}

{% block title %}New Contrat{% endblock %}

{% block body %}
    <h1>Create new Contrat</h1>

    {{ include('contrat/_form.html.twig') }}

    <a href="{{ path('app_contrat_index') }}">back to list</a>
{% endblock %} #}
 {% extends 'base.html.twig' %}

{% block title %} New Contract {% endblock %}
{% block body %}
	<div class="row" style="margin-left:100px">
		<div style="display: flex;align-items: center;justify-content: center;margin-top: 90px; padding: 15px;">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Create new  Contract</h5>

					<!-- General Form Elements -->
					{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                 
                    
					<label for="inputText" class="col-sm-18 col-form-label">Employee name</label>
					<div class="col-sm-18">
						{{ form_widget(form.emp,{'attr':{'class':'form-control'}}) }}

					</div>
					 
					
					{{ form_errors(form.emp,{'attr':{'class':'text-danger'}}) }}


					<label for="inputText" class="col-sm-18 col-form-label"> Type</label>
					<div class="col-sm-18">
						{{ form_widget(form.type,{'attr':{'class':'form-control'}}) }}

					</div>
					{{ form_errors(form.type,{'attr':{'class':'text-danger'}}) }}


					<label for="inputText" class="col-sm-18 col-form-label">Date debut</label>
					<div class="col-sm-18">
						{{ form_widget(form.datedebut,{'attr':{'class':'form-control'}}) }}

					</div>
					{{ form_errors(form.datedebut,{'attr':{'class':'text-danger'}}) }}
					<br/>
                    <label for="inputText" class="col-sm-18 col-form-label">Date fin</label>
					<div class="col-sm-18">
						{{ form_widget(form.datefin,{'attr':{'class':'form-control'}}) }}

					</div>
					{{ form_errors(form.datefin,{'attr':{'class':'text-danger'}}) }}
					<br/>
                    <label for="inputText" class="col-sm-18 col-form-label">Salary</label>
					<div class="col-sm-18">
						{{ form_widget(form.salaire,{'attr':{'class':'form-control'}}) }}

					</div>
					{{ form_errors(form.salaire,{'attr':{'class':'text-danger'}}) }}
					<br/>
					<div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

						{{ form_widget(form.Create,{'attr':{'class':'btn btn-primary'}}) }}
					</div>

					{{ form_end(form) }}

				</div>
				{% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">{{ flash_message }}</div>
{% endfor %}
			</div>

		</div>

	</div>


{% endblock %}