{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
<div style="margin-left:670px ;width:30% ; margin-top:120px">
    <table class="table">
        <tbody>
           
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>matricule</th>
                <td>{{ user.matricule }}</td>
            </tr>
            
            <tr>
                <th>domaine</th>
                <td>{{ user.domaine }}</td>
            </tr>
            <tr>
                <th>Numero_tele</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
           
            <tr>
                <th>adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
           
            <tr>
                <th>abonnement</th>
                <td>{{ user.abonnement}}</td>
                
            </tr>
            <tr>
                <th>statut</th>
                <td>{{ user.statuts }}</td>
            </tr>
         
        </tbody>
    </table>
    </div>
    <center>
                <a class="btn btn-success" href="{{ path('app_home') }}">back</a>
    </center>

{% endblock %}